<form [formGroup]="signInForm" class="form">
    <label for="email" class="form_label bold">Email :</label>
    <input 
        type="email" 
        formControlName="email" 
        id="email" 
        class="form_input"
        [ngClass]="{ 'error': signInForm.get('email')?.touched && signInForm.get('email')?.invalid }"
    >
    <span *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.invalid" class="form_error bold">{{ getErrorMessageSignIn('email') }}</span>
  
    <label for="password" class="form_label bold">Mot de passe :</label>
    <input 
        type="password" 
        formControlName="password" 
        id="password" 
        class="form_input"
        [ngClass]="{ 'error': signInForm.get('password')?.touched && signInForm.get('password')?.invalid }"
    >
    <span *ngIf="signInForm.get('email')?.touched && signInForm.get('password')?.invalid" class="form_error bold">{{ getErrorMessageSignIn('password') }}</span>
  
    <button type="submit" (click)="onSubmitSignInForm()" [disabled]="signInForm.invalid" class="form_btn">
        Se connecter
    </button>
  </form>
