.profil_password {
    &_form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: auto;

        &_label {
            margin-top: 0.5rem;
        }
        
        &_btn {
            margin-top: 0.5rem;
            height: 2rem;
        }
    }
}