<form [formGroup]="updatePasswordForm" class="profil_password_form">
    <label for="password" class="profil_password_form_label bold">Mot de passe <fa-icon [icon]="faKey"></fa-icon></label>
        <br *ngIf="!openModify" />
        
        <div *ngIf="openModify">
            <input 
                type="password"
                formControlName="password" 
                class="form_input"
                [ngClass]="{ 'error': updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.invalid }"
            >
            <span *ngIf="updatePasswordCtrl.invalid && (updatePasswordCtrl.dirty || updatePasswordCtrl.touched)" class="form_error">
                {{ getErrorMessages(updatePasswordCtrl) }}
            </span>
            
            <label for="confirmPassword" class="profil_password_form_label profil_password_form_label_confirm bold">Confirmer le mot de passe</label>
            <input 
                type="password"
                formControlName="confirmPassword" 
                class="form_input"
                [ngClass]="{ 'error': updatePasswordForm.get('confirmPassword')?.touched && updatePasswordForm.get('confirmPassword')?.invalid }"
            >
            <span class="form_error" *ngIf="showPasswordError$ | async">Les deux mots de passe ne sont pas identiques.</span>
        </div>

    <span *ngIf="errorMessage" class="form_error bold center">{{ errorMessage }}</span>

    <button *ngIf="!openModify" (click)="onModify()" class="profil_password_form_btn">Modifier <fa-icon [icon]="editIcon"></fa-icon></button>
    <button *ngIf="openModify" (click)="onSubmit()" [disabled]="updatePasswordForm.invalid" class="profil_password_form_btn">Valider <fa-icon [icon]="validIcon"></fa-icon></button>
</form>
