.update_password {
    &_form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: auto;

        &_label {
            margin-top: 0.5rem;
            
            &_confirm {
                margin-top: 0.2rem;
            }
        }
        
        &_btn {
            margin-top: 0.5rem;
            height: 2rem;
            
            &_icon {
                font-size: 16px;
                margin-left: 0.3rem;
            }
        }
    }
}

.form {
    &_input {
        margin-bottom: 0.5rem;
    }

    &_error {
        margin: -0.2rem 0 0.1rem 0;
    }
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_password_container {
    position: relative;
    &_icon {
        position: absolute;
        top: -2.25rem;
        right: 0.5rem;
        opacity: 0.3;
        &:hover {
            opacity: 0.8;
        }
    }
}