<div class="modal_backdrop">
    <div class="modal">
        <header class="modal_header">
            <h3 class="modal_header_title">i Modifier le post</h3>
        </header>
        <form class="modal_container">
            <label for="message">Modifier le message :</label>
            <input type="text">
            
            <label for="postPicture">Modifier l'image :</label>
            <input type="file">
        </form>
        <footer class="modal_footer">
            <button type="button" (click)="onCancel()" class="modal_footer_btn modal_footer_btn_cancel">Annuler</button>
            <button type="submit" (click)="onModify(postId)" class="modal_footer_btn modal_footer_btn_modify">Modifier</button>
        </footer>
    </div>
</div>
