<header class="header">
    <div class="header_container">
        <img src="../../../../assets/img/groupomania-logo-navbar.png" alt="groupomania logo" class="header_img">
        <nav class="header_nav">
            <a (click)="goToTrending()" class="header_nav_link"><fa-icon [icon]="faHouse"></fa-icon></a>
            <a (click)="goToProfil()" class="header_nav_link"><fa-icon [icon]="faUser"></fa-icon></a>
            <a (click)="logout()" class="header_nav_link"><fa-icon [icon]="faLogOut"></fa-icon></a>
        </nav>
    </div>
</header>
