.success {
    color: rgb(33, 118, 33);
}

.password_form {
    display: flex;
    flex-direction: column;
    
    &_input {
        height: 1.8rem;
        border: 1px solid black;
        border-radius: 0.3rem;
        margin: 0.3rem 0 0.5rem 0;
        font-size: 16px;
        width: 98%;
        &:focus {
            outline: 2px solid #2c5260;
        }
        &.error {
            outline: 2px solid rgb(155, 0, 0);
            color: rgb(155, 0, 0);
        }
    }
}

button {
    margin-top: 0.3rem;
}

.input_password_container {
    position: relative;
    width: 100%;
    &_icon {
        position: absolute;
        top: 0.1rem;
        right: 0.5rem;
        opacity: 0.3;
        &:hover {
            opacity: 0.8;
        }
    }
}