.profil_photo_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 90%;
    
    &_img {
        height: 15rem;
        width: 15rem;
        border-radius: 10rem;
        object-fit: cover;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 1rem;
    }

    &_btn {
        justify-self: flex-end;
    }
}

button {
    height: 2rem;
}