<header class="login_header">
    <img src="../../../../assets/img/groupomania-logo.png" alt="groupomania logo" class="login_header_img">
</header>

<section class="login_section bg_section">
    <header class="login_section_header">
        <button id="signup" (click)="toggleForm('signUp')" class="login_section_header_btn login_section_header_btn_signup">S'inscrire</button>
        <button id="signin" (click)="toggleForm('signIn')" class="login_section_header_btn login_section_header_btn_signin">Se connecter</button>
    </header>
    
    <article class="login_section_form">
        <form [formGroup]="signUpForm" *ngIf="showSignUpForm">
            <label for="lastname" class="form_label">Nom :</label>
            <input type="text" formControlName="lastname" id="lastname" class="form_input">
            
            <span *ngIf="signUpForm.get('lastname')?.touched && signUpForm.get('lastname')?.invalid" class="form_error">{{ getErrorMessage('lastname') }}</span>
            
            <label for="firstname" class="form_label">Prénom :</label>
            <input type="text" formControlName="firstname" id="firstname" class="form_input">
            
            <span *ngIf="signUpForm.get('firstname')?.touched && signUpForm.get('firstname')?.invalid" class="form_error">{{ getErrorMessage('firstname') }}</span>
            
            <label for="email" class="form_label">Email :</label>
            <input type="email" formControlName="email" id="email" class="form_input">
            
            <span *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid" class="form_error">{{ getErrorMessage('email') }}</span>
          
            <label for="password" class="form_label">Mot de passe :</label>
            <input type="password" formControlName="password" id="password" class="form_input">
            
            <span *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid" class="form_error">{{ getErrorMessage('password') }}</span>

            <button type="submit" (click)="onSubmitSignUpForm()" [disabled]="signUpForm.invalid" class="form_btn">
                Créer un compte
            </button>
          </form>
          
          <form [formGroup]="signInForm"  *ngIf="showSignInForm">
            <label for="email" class="form_label">Email :</label>
            <input type="email" formControlName="email" id="email" class="form_input">
          
            <label for="password" class="form_label">Mot de passe :</label>
            <input type="password" formControlName="password" id="password" class="form_input">
          
            <button type="submit" (click)="onSubmitSignInForm()" [disabled]="signUpForm.invalid" class="form_btn">
                Se connecter
            </button>
          </form>
    </article>
</section>
