<article class="update_infos">
    <h2 class="update_infos_title bold">Vos informations</h2>
    <form [formGroup]="updateInfosForm" *ngIf="user$" class="update_infos_form">
        <label for="firstname" class="bold">Prénom :</label>
            
            <p *ngIf="!openModify" class="update_infos_content">{{ user$.firstname }}</p>
            
            <input 
                *ngIf="openModify" 
                type="text" 
                [(ngModel)]="user$.firstname"
                formControlName="firstname" 
                class="form_input"
                [ngClass]="{ 'error': updateInfosForm.get('firstname')?.touched && updateInfosForm.get('firstname')?.invalid }"
            >
            <span *ngIf="updateFirstnameCtrl.invalid && (updateFirstnameCtrl.dirty || updateFirstnameCtrl.touched)" class="form_error">
                {{ getErrorMessages(updateFirstnameCtrl) }}
            </span>

        <label for="lastname" class="bold">Nom :</label>
            
            <p *ngIf="!openModify" class="update_infos_content">{{ user$.lastname }}</p>
            
            <input 
                *ngIf="openModify" 
                type="text" 
                [(ngModel)]="user$.lastname"
                formControlName="lastname" 
                class="form_input"
                [ngClass]="{ 'error': updateInfosForm.get('lastname')?.touched && updateInfosForm.get('lastname')?.invalid }"
            >
            <span *ngIf="updateLastnameCtrl.invalid && (updateLastnameCtrl.dirty || updateLastnameCtrl.touched)" class="form_error">
                {{ getErrorMessages(updateLastnameCtrl) }}
            </span>

        <label for="email" class="bold">Email :</label>
            
            <p *ngIf="!openModify" class="update_infos_content">{{ user$.email }}</p>
            
            <input 
                *ngIf="openModify" 
                type="email" 
                [(ngModel)]="user$.email"
                formControlName="email" 
                class="form_input"
                [ngClass]="{ 'error': updateInfosForm.get('email')?.touched && updateInfosForm.get('email')?.invalid }"
            >
            <span *ngIf="updateEmailCtrl.invalid && (updateEmailCtrl.dirty || updateEmailCtrl.touched)" class="form_error">
                {{ getErrorMessages(updateEmailCtrl) }}
            </span>

        <span *ngIf="errorMessage" class="form_error bold center">{{ errorMessage }}</span>

        <button *ngIf="!openModify" (click)="onModify()" class="update_infos_form_btn">Modifier <fa-icon [icon]="editIcon"></fa-icon></button>
        <button *ngIf="openModify" (click)="onSubmit()" [disabled]="updateInfosForm.invalid" class="update_infos_form_btn">Valider <fa-icon [icon]="validIcon"></fa-icon></button>
    </form>
    
    <app-update-password></app-update-password>
</article>